*.slo
*.lo
*.o
*.la
*.lai
*.dylib

# Qt-es
*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.orig

# QtCreator
*.autosave

# other
*.DS_Store
*.dmp
*.bak
docs/html/


*.md
build/Desktop_Qt*/**
build/

#vs
*.log
*.user
*.suo
*.sdf
*.ipch
*.tlog
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.vcxproj.user
*.vcxproj.filters
*.vcxproj
*.sln
*.dsp
debug/
release/
image/
PCRSystemDB
.vs/

!src/image/
!src/image/**
